.modalContainer {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}

.picWords {
    background: rgb(0, 0, 0, .96);
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picWordsHolder {
    width: 80%;
}