.modalContainer {
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
}
.picWords {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#hidden {
    visibility: hidden;
}
#visible {
    visibility: visible;
}
.picWordsHolder {
    width: 80%;
    background: white;
    color: black;
}