.filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: cadetblue;
}
.form {
    margin: 4px;
}
#hidden {
    visibility: hidden;
}
#visible {
    visibility: visible;
}
.picWordsHolder {
    width: 80%;
    background: white;
    color: black;
}